[Unit]
Description=Traefik

[Service]
Type=notify
WorkingDirectory={{traefik_install_dir}}
ExecStartPre={{traefik_install_dir}}/traefik_compile_confd.sh
ExecStart={{ traefik_bin_path }} --configFile={{ traefik_install_dir }}/traefik_generated.toml
Restart=always
WatchdogSec=1s

[Install]
WantedBy=multi-user.target
