{% for line in traefik_settings %}
{{line.name}} = {{line.value}}
{% endfor %}
{% for line in traefik_extra_settings %}
{{line.name}} = {{line.value}}
{% endfor %}

[file]
directory = "{{ traefik_install_dir }}/conf.d"
watch = true
